header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  } 
  .cabecera_right{
    float: right;
  }
#productos{
  margin: auto;
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

}

.elemento{
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  width: 250px;
  box-shadow: 5px 5px 5px #22222254;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;

}

.elemento > div > img {
  width: 100%;
  margin-top: auto;
  max-height: max-content;
}

.img{
  /* width: 100px; */
  width: 100%;
  margin: auto;
  max-height: max-content;
}
.datos{
  width: 50%;
}
.btnInfo{
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #b1c7a6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: #100a0a;
  font-weight: 900;
}

#detalleProducto{
  margin: auto;
  width: 100%;
  padding: 5rem 1rem;
  gap: 1.5rem;

}
.elementoInfo{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.elementoInfo > div > img {
  width: 100%;
  float: left;
  height: 300px;
}


.mainInfo{
  display: flex;
  flex-direction: row;
  width: 89%;
  box-shadow: 5px 5px 5px #22222254;
  padding: 1rem;
  border-radius: 10px;
}

.imgInfo{
  display: flex;
  flex-direction: column;
}

.containerBoton{
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
.btnCarrito{
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #b1c7a6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: #100a0a;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 14px;
}

#carrito{
  margin: auto;
  width: 100%;
  padding: 5rem 1rem;
  gap: 1.5rem;

}

.contenedorCarrito{
  margin: auto;
  width: 80%;
  padding: 5rem 1rem;
  display: flex;
  gap: 1.5rem;
  height: 150px;
  box-shadow: 5px 5px 5px #22222254;
  padding: 1rem;
  border-radius: 10px;
}

.itemCarrito > div > img {
  object-fit: cover;
  background-position: center;
	background-size: cover;
  height: 150px;
  float: left;
}

.contenedorCarrito > div > p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.itemCarrito{
  width: 250px;
}

.imgCarrito{
  width: 350px;
}

#cantidad{
  width: 30px;
  text-align: center;
}

#precioTotal{
  font-weight: 700;
}

#mainCarritobtn{
  text-align: center;
  margin-top: 20px;
}

.mainCarritobtn{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: #b1c7a6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: #100a0a;
  font-weight: 900;
}

.carritoVacio{
  margin: auto;
  width: 80%;
  padding: 5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 5px 5px 5px #22222254;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(192, 190, 190);
  
}
.btnEliminarDeCarrito{
  height: 40px;
  border-radius: 5px;
  background-color: #b1c7a6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: #100a0a;
}
#EliminarDeCarrito{
  display: flex;
  align-items: center; 

}

#muestroTotal{
  background-color: #b1c7a6;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;

}

footer{
  height: 100px;
  background-color: #b1c7a6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #100a0a;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px solid #100a0a;
  margin: auto;

}

.agradecimiento{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #100a0a;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: auto;
}